<app-menu></app-menu>
<p>Miguel Lopez</p>
<div class="container" >
    <h5>Crud de Marca</h5>

    <div class="col-md-23" style="margin-top: 3%">


        <div class="row" style="height: 80px">
            <div class="col-md-4">
                <input [(ngModel)] = "filtro"  class="form-control"  id="id_txt_filtro" name="filtro" placeholder="Ingrese el nombre" type="text" maxlength="30" />
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" id="id_btn_filtrar" style="width: 150px" (click)="consulta()">Filtrar</button>
            </div>
            <div class="col-md-2">
                <button  type="button" data-toggle='modal' data-target="#idModalRegistrar" class='btn btn-success' style="width: 150px">Registrar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="content">

                    <table id="id_table" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 5%">#</th>
                                <th style="width: 20%">Nombre</th>
                                <th style="width: 20%">Descripción</th>
                                <th style="width: 16%">Certificado</th>
                                <th style="width: 10%">Estado</th>
                                <th style="width: 15%">País</th>
                                <th style="width: 7%"></th>
                                <th style="width: 7%"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aux of marcas">
                                <td>{{ aux.idMarca }}</td>
                                <td>{{ aux.nombre }}</td>
                                <td>{{ aux.descripcion }}</td>
                                <td>{{ aux.certificado }}</td>   
                                <td>{{ aux.estado == 1 ? "Activo" : "Inactivo"}}</td>
                                <td>{{ aux.pais?.nombre }}</td>   
                                <td>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="idEstado_{{ aux.idMarca }}" [checked]="aux.estado==1?true:false" name="estado" (change)="actualizaEstado(aux)" />         
                                        <label class="custom-control-label" for="idEstado_{{ aux.idMarca }}"></label>
                                    </div>    
                                </td>
                                <td><button type="button" style="width: 90px" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#idModalActualizar" (click)="buscar(aux)" >Editar</button></td>
                                <td><button type="button" style="width: 90px" class="btn btn-danger btn-sm"  (click)="elimina(aux)" >Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

     
    <div class="modal fade"  id="idModalRegistrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog" style="max-width: 70%;">
            <div class="modal-content" >

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registro de Marca</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form class="content"  (ngSubmit)="registra()"  [formGroup]="formsRegistra">
                        <div class="submit-form">
                            
                                <div  class="row">
                                    <div class="col-lg-6">
                                        <label for="id_reg_nombre">Nombre</label>
                                        <input  formControlName="validaNombre" [(ngModel)]="marca.nombre" type="text" placeholder="Ingrese el nombre" class="form-control" name="nombre" id="id_reg_nombre" />
                                        <div *ngIf="submitted && formsRegistra.controls.validaNombre.errors" class="invalid">       
                                            <ul>
                                                <li>El nombre es obligatorio</li>    
                                                <li>El nombre es de 3 a 30 caracteres</li>    
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6">
                                        <label for="id_reg_descripcion">Descripción</label>
                                        <input formControlName="validaDescripcion" [(ngModel)]="marca.descripcion" type="text" placeholder="Ingrese descripción" class="form-control" name="descripcion" id="id_reg_descripcion" />
                                        <div *ngIf="submitted && formsRegistra.controls.validaDescripcion.errors" class="invalid">
                                            <ul>
                                                <li>La descripción es obligatorio</li>    
                                                <li>La descripción es de 3 a 30 caracteres</li>  
                                            </ul>
                                         </div>
                                    </div>
                                </div>


                                <div class="row" style="margin-top: 5%">
                                    
                                    <div class="col-lg-3">
                                        <label for="id_reg_pais">País</label>
                                        <select formControlName="validaPais" [(ngModel)]="marca.pais!.idPais"  id="id_reg_pais" name="pais" class="form-control">
                                            <option value="-1"> [Seleccione] </option>
                                            <option *ngFor="let aux of paises" value="{{ aux.idPais }}"> 
                                                        {{ aux.nombre }}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && formsRegistra.controls.validaPais.errors" class="invalid">
                                            <ul>
                                                <li> El país es obligatorio</li>    
                                            </ul>
                                         </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="id_reg_fechaVigencia">Fecha de Vigencia</label>
                                        <input formControlName="validaFecha" [(ngModel)]="marca.fechaVigencia" type="date" placeholder="DD/MM/AAAA" class="form-control" name="fechaVigencia" id="id_reg_fechaVigencia" />
                                        <div *ngIf="submitted && formsRegistra.controls.validaFecha.errors" class="invalid">
                                            <ul>
                                                <li>La fecha de vigencia es obligatorio</li>    
                                            </ul>
                                         </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <label for="id_reg_certificado">Certificado</label>
                                        <input formControlName="validaCertificado" [(ngModel)]="marca.certificado" type="text" placeholder="S0000XXXX" class="form-control" name="certificado" id="id_reg_certificado" maxlength="9" />
                                        <div *ngIf="submitted && formsRegistra.controls.validaCertificado.errors" class="invalid">
                                            <ul>
                                                <li>El certificado es obligatorio</li>    
                                                <li>El certificado es de 9 dígitos tipo S0000XXXX</li>     
                                            </ul>
                                         </div>
                                    </div>
                                
                                
                                
                                </div>

                        </div> 
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_reg_cerrar" style="width: 100px;">Close</button>
                            <div class="form-group text-center">
                                <div class="col-lg-12">
                                    <button id="id_reg_registra"  class="btn btn-success form-control"style="width: 100px;" [disabled]="submitted && formsRegistra.invalid">Registrar</button>
                                </div>
                            </div>
                        </div>

               
                    </form>
                </div>



            </div>
        </div>
    </div>
    
    <div class="modal fade" id="idModalActualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actualización de marca</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                </div>
                <div class="modal-body">

                    <form class="content" (ngSubmit)="actualiza()" [formGroup]="formsActualiza">
                        <div class="submit-form">

                            <div  class="row">
                                <div class="col-lg-4">
                                    <label for="id_act_nombre">Nombre</label>
                                    <input  formControlName="validaNombre" [(ngModel)]="marca.nombre"  type="text" placeholder="Ingrese el nombre" class="form-control" name="nombre" id="id_act_nombre" />
                                    <div *ngIf="submitted && formsActualiza.controls.validaNombre.errors" class="invalid">
                                        <ul>
                                            <li>El nombre es obligatorio</li>    
                                            <li>El nombre es de 3 a 30 caracteres</li>    
                                        </ul>
                                     </div> 
                                </div>
    
                                <div class="col-lg-2">
                                    <label  for="id_act_estado">Estado</label>
                                    <select formControlName="validaEstado" [(ngModel)]="marca.estado"  id="id_act_estado" name="estado" class="form-control">
                                        <option value="-1"> [Seleccione] </option>
                                        <option value="1"> Activo </option>
                                        <option value="0"> Inactivo </option>
                                    </select>
                                    <div *ngIf="submitted && formsActualiza.controls.validaEstado.errors" class="invalid">
                                        <ul>
                                            <li>El estado es obligatorio</li>    
                                        </ul>
                                     </div>
                                </div>

                                <div class="col-lg-6">
                                    <label for="id_act_descripcion">Descripción</label>
                                    <input formControlName="validaDescripcion" [(ngModel)]="marca.descripcion"  type="text" placeholder="Ingrese descripción" class="form-control" name="descripcion" id="id_act_descripcion"/>
                                    <div *ngIf="submitted && formsActualiza.controls.validaDescripcion.errors" class="invalid">
                                        <ul>
                                            <li>La descripcion es obligatorio</li>    
                                            <li>La descripcion es de 3 a 30 caracteres</li>    
                                        </ul>
                                     </div>
                                </div>
                            </div>
    
                            <div class="row" style="margin-top: 5%">
                                <div class="col-lg-3">
                                    <label for="id_act_pais">Pais</label>
                                    <select formControlName="validaPais" [(ngModel)] = "marca.pais!.idPais" id="id_act_pais" name="pais" class="form-control">
                                        <option value="-1"> [Seleccione] </option>
                                        <option *ngFor="let aux of paises"    value="{{ aux.idPais }}">
                                            {{ aux.nombre }}
                                        </option> 
                                    </select>
                                    <div *ngIf="submitted && formsActualiza.controls.validaPais.errors" class="invalid">
                                        <ul>
                                            <li>El pais es obligatorio</li>    
                                        </ul>
                                     </div>
                                </div>
                                <div class="col-lg-3">
                                    <label for="id_act_fechaVigencia">Fecha de Vigencia</label>
                                    <input formControlName="validaFecha" [(ngModel)]="marca.fechaVigencia" type="date" placeholder="DD/MM/AAAA" class="form-control" name="fechaVigencia" id="id_act_fechaVigencia" />
                                    <div *ngIf="submitted && formsActualiza.controls.validaFecha.errors" class="invalid">
                                        <ul>
                                            <li>La fecha de vigencia es obligatorio</li>    
                                        </ul>
                                     </div>
                                </div>
                                
    
                                <div class="col-lg-6">
                                    <label for="id_act_certificado">Certificado</label>
                                    <input formControlName="validaCertificado" [(ngModel)]="marca.certificado"  type="text" placeholder="Ingrese certificado" class="form-control" name="certificado" id="id_act_certificado" maxlength="9"/>
                                    <div *ngIf="submitted && formsActualiza.controls.validaCertificado.errors" class="invalid">
                                        <ul>
                                            <li>El certificado es obligatorio</li>    
                                            <li>El certificado es de 9 dígitos tipo S0000XXXX</li>    
                                        </ul>
                                     </div>
                                </div>
    
                                
                            </div> 



                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_act_cerrar">Close</button>
                            <div class="form-group text-center">
                                <div class="col-lg-12">
                                    <button id="id_act_actualiza" class="btn btn-success form-control"[disabled]="submitted && formsActualiza.invalid">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>





                </div>

            </div>
    
        </div>
    </div>
</div>
